<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Select your food</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Select Day</mat-label>
      <mat-select [(value)]="selectedDay" (selectionChange)="onDaySelectionChange($event)">
        <mat-option *ngFor="let day of days" [value]="day">
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedDay!==''">
      <mat-label>Select Time</mat-label>
      <mat-select [(value)]="selectedTime" (selectionChange)="onTimeSelectionChange($event)">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedTime!==''">
      <mat-label>Select Station</mat-label>
      <mat-select [(value)]="selectedStation" (selectionChange)="onStationSelectionChange($event)">
        <mat-option *ngFor="let station of stations" [value]="station">
          {{station}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedStation!==''">
      <mat-label>Select Food</mat-label>
      <mat-select [(value)]="selectedFood" (selectionChange)="onFoodSelectionChange($event)">
        <mat-option *ngFor="let food of foods" [value]="food">
          {{food}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="selectedFood!==''">
      <h4>Servings consumed</h4>
      <mat-slider min="0" max="4" step=".5" showTickMarks discrete>
        <input matSliderThumb [(ngModel)]="sliderValue">
      </mat-slider>
    </div>
    <button mat-raised-button color="primary" *ngIf="sliderValue>0 && selectedFood!==''" (click)="submitFood(selectedFood, sliderValue)">Submit</button>
    
  </mat-card>


  <mat-card>
    <mat-card-header>
      <mat-card-title>Selected Items</mat-card-title>
    </mat-card-header>
    <p *ngFor="let food of selectedFoods">{{food.food}}</p>
  </mat-card>
  <app-nutrition-facts>
    
  </app-nutrition-facts>
</div>

