<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Select your food</mat-card-title>
    </mat-card-header>
    <mat-form-field>
      <mat-label>Select Day</mat-label>
      <mat-select [(value)]="selectedDay">
        <mat-option *ngFor="let day of days" [value]="initializeDay(day)">
          {{day}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field *ngIf="selectedDay">
      <mat-label>Time</mat-label>
      <mat-select [(value)]="selectedTime">
        <mat-option *ngFor="let time of times" [value]="time">
          {{time}}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </mat-card>

  <mat-card>
    <mat-card-header>
      <mat-card-title>Selected Items</mat-card-title>
    </mat-card-header>
  </mat-card>
  <p>{{selectedDay}}</p>
</div>
<p>{{selectedDayObject}}</p>

<p>bruh</p>