.container {
    display: flex;
    justify-content: space-around;
}

.selectedFood {
  margin-left: .25cm;
  margin-right: .25cm;
}
mat-card.cardContainer {
  padding: 50px;
  padding-top: 10px;
  width: 340px;
  align-items: center;
}

mat-card.selectedFood {
  width: 300px;
  margin-bottom: 10px;
}

.subContain {
  flex: 1;
  display: flex;
  justify-content: center;
  margin-left: 25px;
  margin-right: 25px;
}