/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    display: flex;
    justify-content: center;
}

app-root {
    width: 100%;
    justify-content: center;
}

.navBar {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}

.homeContainer {
    flex: 1;
    align-items: center;
    justify-content: center;
}

