/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

body {
    display: flex;
    justify-content: center;
}

p {
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
}